[submodule "xxtelebot"]
	path = xxtelebot
	url = https://github.com/BG4444/xxtelebot.git
[submodule "opt-parser"]
	path = opt-parser
	url = https://github.com/BG4444/opt-parser.git
[submodule "folly"]
	path = folly
	url = https://github.com/facebook/folly.git
